* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

:root {
  --font-col: #212529;
  --shad-col: #66666e;
  --tom-col: #FC5130;
  --blu-col: #30BCED;
  --bg-col: #f1f5fd;
  --wht-col: #ffffff;
}

.main-sectionU {
  background-color: var(--bg-col);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
}

.main-sectionL {
  background-color: var(--bg-col);
  width: 100%;
  z-index: 2;
}

.letter-P {
  margin-left: 5%;
  font-size: 1.5rem;
  font-weight: 600;
}

.for-height {
  height: 100vh;
}

@media(max-width:992px) {
  .main-section {
    height: 6%;
  }
}